@import url("https://fonts.googleapis.com/css?family=Indie+Flower:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fugaz+One:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,500,700");

body {
    background-color: rgb(255, 252, 247);
}

body,
button,
select,
option,
input {
    font-family: "Fugaz One";
    font-weight: 400;
    font-size: 0.8em;
    color: rgb(69, 30, 17);
}

select,
option {
    font-size: 0.7em;
}

textarea,
input {
    font-family: "Inconsolata";
}

#response {
    margin: 2vh 4vw 2vh 1vw;
    border-left: 3px solid darksalmon;
    padding-left: 1vw;
    font-family: "Nanum Myeongjo";
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.8em;
    color: black;
    overflow-wrap: break-word;
}

#response_metrics {
    font-family: "Indie Flower";
    color: black;
}

#clocks_outer {
    display: none;
    color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#reset {
    display: none;
    margin-top: 2vh;
    color: black;
}

#clocks {
    font-size: 2em;
}

#powered_by {
    font-size: 0.85em;
}

#response_cont {
    display: none;
}

#with_id_cont {
    display: none;
}

#motd_cont_outer {
    margin-top: 4vh;
    width: 33%;
}

#motd_cont {
    font-family: "Nanum Myeongjo";
    font-weight: bold;
}

#model_desc_outer {
    margin-top: 2vh;
    width: 30%;
}

#model_desc {
    margin: 2vh 0 2vh 0;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 0.5em;
    background-color: rgb(255, 242, 229);
    font-family: "Inconsolata";
    font-weight: bold;
    display: none;
}

#options_outer {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#response_cont {
    margin-bottom: 3vh;
}

#model_sel_cont {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#with_id_cont {
    font-family: "Inconsolata";
    font-size: 60%;
}

#processing_span {
    display: none;
}

#perma_ele_cont {
    display: none;
}

#options_cont {
    margin: 1vh 1vw 1vh 0;
    font-family: "Inconsolata";
}

@media screen and (max-width: 640px) {
    #model_desc_outer {
        width: 95%;
    }

    #motd_cont_outer {
        width: 95%;
    }
}